<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p048293.biblereader">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_icon"
        android:label="심플성경 (free)"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OldTestamentActivity" />
        <activity android:name=".NewTestamentActivity" />
        <activity android:name=".NewTestament2Activity" />
        <activity android:name=".EngHanOldActivity" />
        <activity android:name=".EngHanNewActivity" />
        <activity android:name=".ReadHistActivity" />
        <activity android:name=".Adult6ReadActivity" />
        <activity android:name=".Adult6TestamemtActivity" />
        <activity android:name=".AdultTotalReadActivity" />
        <activity android:name=".AdultTotalTestamemtActivity" />
        <activity android:name=".KinderReadActivity" />
        <activity android:name=".KinderTestamemtActivity" />
        <activity android:name=".ChildReadActivity" />
        <activity android:name=".ChildTestamemtActivity" />
        <activity android:name=".SettingMenuActivity" />
        <activity android:name=".DispalySettingActivity" />
        <activity android:name=".FileCheckActivity" />
        <activity android:name=".HelpActivity" />
        <activity
            android:name=".WordSearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".WordSearch2Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SongActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DaekwangNoticeActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>