<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="testMapper">    

    <select id="selectSqlTestData" parameterType="hashmap" resultType="hashmap">
    
        	  ${sqlContent}
        
    </select>

    <insert  id="sinmungoSaveCom" parameterType="hashmap">
    	insert into COM_SINMUNGO (
    		 USER_OPINION
    		,REG_DATE
    		,REG_ID
    	) 
    	values (
    		#{sinmungoData}
    		,sysdate
    		,#{userId}
    	)
    </insert>
    
    <insert  id="sinmungoSave" parameterType="hashmap">
    	insert into SINMUNGO (
    		 USER_OPINION
    		,REG_DATE
    		,REG_ID
    		,REG_IP
    	) 
    	values (
    		#{sinmungoData}
    		,sysdate
    		,#{userId}
    		,#{userIp}
    	)
    </insert>
        
</mapper>