<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="schListMapper">    

    <select id="selectSchList" parameterType="com.share.calendar.sch.Dto.SchListDto" resultType="com.share.calendar.sch.Vo.SchVo">    
        select
			SCHE_NO as sche_no
			,SCHE_DT as sche_dt
			,SCHE_TITLE as sche_title
			,SCHE_CONTENT as sche_content
			,SCHE_SE as sche_se
			,REGIST_ID as regist_id
			,REGIST_DT as regist_dt
         from SCHE_LIST
         where SCHE_TITLE like '%' || #{schTitle} || '%'
    </select>
    
    <select id="selectSchDetail" parameterType="com.share.calendar.sch.Dto.SchListDto" resultType="com.share.calendar.sch.Vo.SchVo">    
        select
			SCHE_NO as sche_no
			,SCHE_DT as sche_dt
			,SCHE_TITLE as sche_title
			,SCHE_CONTENT as sche_content
			,SCHE_SE as sche_se
			,REGIST_ID as regist_id
			,REGIST_DT as regist_dt
         from SCHE_LIST
         where SCHE_NO = #{schId}
    </select>
    
    <insert id="insertSchedule" parameterType="com.share.calendar.sch.Dto.SchListDto">
    	insert into SCHE_LIST (
    		SCHE_NO
			,SCHE_DT
			,SCHE_TITLE
			,SCHE_CONTENT
			,SCHE_SE
			,REGIST_ID
			,REGIST_DT
    	) values (
    		#{schId}
    		,#{schDtFrom}
    		,#{schTitle}
    		,#{schContent}
    		,#{schSe}
    		,#{registId}
    		,sysdate
    	)    	
    </insert>
    
    <update id="updateSchedule" parameterType="com.share.calendar.sch.Dto.SchListDto">
    	update SCHE_LIST set
			SCHE_DT = #{schDtFrom}
			,SCHE_TITLE = #{schTitle}
			,SCHE_CONTENT = #{schContent}
			,SCHE_SE = #{schSe}
			,REGIST_ID = #{registId}
		where SCHE_NO = #{schId}
    </update>
    
    <delete id="deleteSchedule" parameterType="com.share.calendar.sch.Dto.SchListDto">
    	delete from SCHE_LIST
    	where SCHE_NO = #{schId}
    </delete>

</mapper>