<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="schListMapper">    

    <select id="selectSchList" parameterType="com.share.calendar.sch.Dto.SchListDto" resultType="com.share.calendar.sch.Vo.SchVo">    
        select
			SCHE_NO as sche_no
			,SCHE_DT as sche_dt
			,SCHE_TITLE as sche_title
			,SCHE_CONTENT as sche_content
			,SCHE_SE as sche_se
			,REGIST_ID as regist_id
			,REGIST_DT as regist_dt
         from SCHE_LIST
         where SCHE_TITLE like '%' || #{schTitle} || '%'
         and    SCHE_CONTENT like '%' || #{schContent} || '%'
         
         <if test="schDtFrom != '' and schDtFrom != null">
         	<![CDATA[
         		and SCHE_DT >= #{schDtFrom}
         	]]>
         </if>
         <if test="schDtTo != '' and schDtTo != null">
         	<![CDATA[
         		and SCHE_DT <= #{schDtTo}
         	]]>
         </if>
                  
         order by SCHE_DT, SCHE_NO
    </select>
    
    <select id="selectSchDetail" parameterType="com.share.calendar.sch.Dto.SchListDto" resultType="com.share.calendar.sch.Vo.SchVo">    
        select
			SCHE_NO as sche_no
			,SCHE_DT as sche_dt
			,SCHE_TITLE as sche_title
			,SCHE_CONTENT as sche_content
			,SCHE_SE as sche_se
			,REGIST_ID as regist_id
			,REGIST_DT as regist_dt
         from SCHE_LIST
         where SCHE_NO = #{schId}
    </select>
    
    <select id="selectNewSchId" resultType="string">    
        select
        	'SCH' || lpad(SEQ_SCHE_LIST.nextval+1, 7, '0') as sche_no
        from dual
    </select>
    
    <insert id="insertSchedule" parameterType="com.share.calendar.sch.Dto.SchListDto">
    	insert into SCHE_LIST (
    		SCHE_NO
			,SCHE_DT
			,SCHE_TITLE
			,SCHE_CONTENT
			,SCHE_SE
			,REGIST_ID
			,REGIST_DT
    	) values (
    		 #{schId}
    		,#{schDtFrom}
    		,#{schTitle}
    		,#{schContent}
    		,#{schSe}
    		,#{registId}
    		,sysdate
    	)    	
    </insert>
    
    <update id="updateSchedule" parameterType="com.share.calendar.sch.Dto.SchListDto">
    	update SCHE_LIST set
			SCHE_DT = #{schDtFrom}
			,SCHE_TITLE = #{schTitle}
			,SCHE_CONTENT = #{schContent}
			,SCHE_SE = #{schSe}
			,REGIST_ID = #{registId}
			,REGIST_DT = sysdate
		where SCHE_NO = #{schId}
    </update>
    
    <delete id="deleteSchedule" parameterType="com.share.calendar.sch.Dto.SchListDto">
    	delete from SCHE_LIST
    	where SCHE_NO = #{schId}
    </delete>

	<select id="selectSchDutyCnt" parameterType="com.share.calendar.sch.Dto.SchDutyDto" resultType="string">
		select
			count(*) as cnt 
		from SCH_DUTY_LIST 
		where DUTY_MONTH = #{month} 
		  and DUTY_YEAR = #{year}
	    order by SORT_ORDER asc 
	</select>
	
	<select id="selectSchDutyList" parameterType="com.share.calendar.sch.Dto.SchDutyDto" resultType="com.share.calendar.sch.Vo.SchVo">
		select
			DUTY_MONTH
			,DUTY_DAY
			,USER_NM
		from SCH_DUTY_LIST 
		where DUTY_MONTH = #{month} 
		  and DUTY_YEAR = #{year}
	    order by SORT_ORDER asc 
	</select>

</mapper>